html
  head
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/users/style.css")
  body
    header.main-header
      a.nav-brand D2T
      nav.nav-header
        ul
          li
            a.nav-link(href="/users/create") Create User
          li
            a.nav-link(href="#") Logout