html
  head
    link(rel="stylesheet", href="/css/style.css")
  body
    header.main-header
      a.nav-brand D2T
      nav.nav-header
        ul
          li
            a.nav-link(href="#") Register
          li
            a.nav-link(href="/login") Login
    h1 Hello World!!! #{value}