* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: #2A3546;
    font-family: sans-serif;
}

.main-header {
    height: 56px;
    color: inherit;
    background-color: #343E4E;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header .nav-header ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.main-header .nav-header .nav-link {
    /* margin: 0 15px; */
    padding: 15px;
}

.main-header .nav-header ul a {
    text-decoration: none;
    color: inherit;
}