html
  head
    link(rel="stylesheet", href="/css/style.css")
  body
    header.main-header
      a.nav-brand D2T
      nav.nav-header
        ul
          li
            a.nav-link(href="#") Login
    h3 View user

    b Name: 
    span= user.name